[project]
	description = Global Energy Optimization Power Management 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amarathe84
[access "refs/for/refs/*"]
	read = group user/amarathe84
	push = group user/amarathe84
	label-Code-Review = -2..+2 group user/amarathe84
	label-Verified = -1..+1 group user/amarathe84
	rebase = group user/amarathe84
	removeReviewer = group user/amarathe84
	submit = group user/amarathe84
[access "refs/heads/*"]
	read = group user/amarathe84
	create = group user/amarathe84
	push = +force group user/amarathe84
	pushMerge = group user/amarathe84
[access "refs/tags/*"]
	push = +force group user/amarathe84
	pushTag = group user/amarathe84
	pushSignedTag = group user/amarathe84
